.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employees {
  width: 100%;
}

.deleteBtn {
  display: flex;
  align-self: flex-end;
  margin-right: 140px;
  margin-top: 10px;
  cursor: pointer;
}

.editBtn {
  cursor: pointer;
}

.addBtn {
  display: flex;
  align-self: flex-end;
  margin-right: 100px;
}

.addBtn img {
  cursor: pointer;
  margin-left: 10px;
  align-self: center;
}

.list {
  width: 100%;
}

.li {
  list-style: none;
}

.td {
  text-align: center;
}

.li {
  list-style: none;
}

.table {
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #b0b0d1;
  margin-bottom: 10px;
  list-style: none;
}

.successMessage {
  display: flex;
  align-self: flex-start;
  margin-left: 200px;
  color: #028108;
  font-weight: 500;
}